*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: black;
    }
  .logo{
      font-size: 30px;
      font-weight:bold ;
    }
    
    .nav-links{
     list-style: none;
     display: flex;
     gap: 20px;
    }
    .nav-links li a{
      color: white;
      text-decoration: none;
      transition: color 0.3s;
    }
   
  
  body{
      
    font-family: 'lobster', cursive;
    
  }
  
  .landing{
    display: flex;
    background-color: yellow;
  }
  .landing-background{
    background-image: url('./landing.jpg');
    background-size: contain;
    background-attachment: fixed;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: black;
    text-align: center;
    height: 250px;
    width: 1200px;
  }
  .product-background{
    display: flex;
    background-color: black;
    align-content: center;
  }
  .productT{
   
    background-color: black;
   
  }
  .product{
    margin: 20px;
    display: flex;
    background-color: yellow;
    align-content: center;
    border-radius: 30px;
    height: 250px;
    width: 250px
  }
  .product-content{
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 50px;
    align-content: center;
    
    color: white;
    text-align: center;
    height: 250px;
    width: 1200px;
  }
  .product-pic-1{
    display: flex;
    flex-direction: row;
    background-image: url('./tshirts.jpg');
    background-size: cover;
    background-attachment: scroll;
    border-radius: 50px;
    align-content: center;
    
    color: black;
    text-align: center;
    height: 200px;
    width: 200px;
  }
  .product-pic-2{
    display: flex;
    flex-direction: row;
    background-image: url('./pants.jpg');
    background-size: cover;
    background-attachment: scroll;
    border-radius: 50px;
    align-content: center;
    
    color: black;
    text-align: center;
    height: 200px;
    width: 200px;
  }.product-pic-3{
    display: flex;
    flex-direction: row;
    background-image: url('./hoodies.jpg');
    background-size: cover;
    background-attachment: scroll;
    border-radius: 50px;
    align-content: center;
    
    color: black;
    text-align: center;
    height: 200px;
    width: 200px;
  }.product-pic-4{
    display: flex;
    flex-direction: row;
    background-image: url('./shoes.jpg');
    background-size: cover;
    background-attachment: scroll;
    border-radius: 50px;
    align-content: center;
    
    color: black;
   
    height: 200px;
    width: 200px;
  }
  
 
  .gallery-content{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    border-radius: 50px;
    align-content: center;
    
    color: black;
    text-align: center;
    height: 250px;
    width: 1200px;
  }
  
 
  .gallery-background{
    display: flex;
    background-color: white;
    align-content: center;
  }
  .gallery-background h1{
    color: yellow;
  }
  .picture-1{
    background-image: url('./pic1.jpg');
    background-attachment: scroll;
    background-size: cover;
    margin: 20px;
    display: flex;
    background-color: black;
    align-content: center;
    border-radius: 30px;
   
   
    height: 250px;
    width: 250px
  }
  .picture-2{
    background-image: url('./pic2.jpg');
    background-attachment: scroll;
    background-size: cover;
    margin: 20px;
    display: flex;
    background-color: black;
    align-content: center;
    border-radius: 30px;
    
    height: 250px;
    width: 250px
  }
  .picture-3{
    background-image: url('./pic3.jpg');
    background-attachment: scroll;
    background-size: cover;
    margin: 20px;
    display: flex;
    background-color: black;
    align-content: center;
    border-radius: 30px;
   
    height: 250px;
    width: 250px
  }
  .picture-4{
    background-image: url('./pic4.jpg');
    background-attachment: scroll;
    background-size: cover;
    margin: 20px;
    display: flex;
    
    align-content: center;
    border-radius: 30px;
    
    
    height: 250px;
    width: 250px
  }
  .picture-1:hover{
    box-shadow: 4px 4px 4px 4px grey;
    height:300px ;
    width: 300px;
  }
  .picture-2:hover{
    box-shadow: 4px 4px 4px 4px grey;
    height:300px ;
    width: 300px;
  }
  .picture-3:hover{
    box-shadow: 4px 4px 4px 4px grey;
    height:300px ;
    width: 300px;
  }
  .picture-4:hover{
    box-shadow: 4px 4px 4px 4px grey;
    height:300px ;
    width: 300px;
  }
  
  
  .about-background{
    
    display: flex;
    background-color: yellow;
    align-content: center;
  }
  .about-content{
    
      background-image: url('./about1.jpg');
      background-attachment: fixed;
      background-size: contain;
      
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: black;
    text-align: center;
    height: 250px;
    width: 1200px;
    
  }
  .about-content p{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-weight: bold;

  }
  
  .contact{
    display: flex;
    flex-direction: row;
    background-color: black ;
    margin: 20px;
    padding: 20px;
    display: flex;
    background-color: black;
    align-content: center;
    border-radius: 30px;
    color: white;
    text-align: center;
    height: 400px;
    width: 400px
  }
 
  .form-label{
    display: flex;
    align-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
  }
  

 

  
  form .form-control {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  form .btn {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  form .btn:hover {
    background-color: white;
  }
  .contact-pic{
    background-image: url('./contact.jpg');
    background-attachment: scroll;
    background-size: cover;
    margin: 20px;
    display: flex;
    
    align-content: center;
    border-radius: 30px;
    
    
    height: 400px;
    width: 800px
  }

  
  
  
  .footer{
    background-color: black;
    padding: 10px;
    text-align: center;
  }
  .footer p{
    color: white;
  }
 
  h1{
    color: yellow;
    text-align: center;
   text-shadow: 5px 5px 5px black;
    
    font-weight: bold;
  }
  h2{
    color: white;
    text-align: center;
   text-shadow: 5px 5px 5px black;
    
    font-weight: bold;
  }
  h3{
    color: white;
  
    
   text-shadow: 5px 5px 5px black;
    
    font-weight: bold;
  }

  
  
  